# .yaml结尾的配置文件，一般都会设置git忽略，不上传
# 只留下一个 .yaml.example格式例子文件。
System:
  PrefixUrl: "/api/v1"

Runtime:
  ServerName: "net-chat"
  Mode: "debug"
  LogLevel: "info"
  HttpPort: 8081
  JwtPublicKey: ./config/private.pem
  JwtPrivateKey: ./config/public.pem
  JaegerHostPort: 127.0.0.1:6831

MainMySQL:
  DNS: root:123456@tcp(127.0.0.1:3306)
  Database: chat
  MaxIDleConn: 100
  MaxOpenConn: 100
  MaxLifeTime: 1000


